lead-intake-workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -512,
        -96
      ],
      "id": "7cd6cfd8-0a9f-45cf-b561-030ec48daed4",
      "name": "Webhook",
      "webhookId": "f6fe83a9-1264-420d-af11-24d3e4daa000"
    },
    {
      "parameters": {
        "fromEmail": "sender@gmail.com",
        "toEmail": "reciever@gmail.com",
        "subject": "Hello there !",
        "html": "={{$json.emailBody}}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        736,
        -288
      ],
      "id": "4eb51dc3-e408-4abb-a4cf-76f3949bd029",
      "name": "Send an Email",
      "webhookId": "27c65628-8bf7-4065-a989-f60e5e8e2740",
      "credentials": {
        "smtp": {
          "id": "49oyznLmOsPN0o59",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\nJSON.stringify({\n  success: false,\n  message: \"Missing fields required\",\n  missingFields: $json.missingFields\n})\n}}\n",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        96,
        0
      ],
      "id": "6be0399f-c41e-4fd1-b028-028de3143166",
      "name": "Response Missing Fields"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $json.body ?? $json;\n\nconst required = ['firstName', 'email', 'projectType', 'city'];\nconst missing = required.filter((field) => !data[field] || String(data[field]).trim() === '');\n\nreturn {\n  json: {\n    ...data,\n    isValid: missing.length === 0,\n    missingFields: missing,\n    errorMessage: missing.length ? `Missing fields required: ${missing.join(', ')}` : null,\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        -96
      ],
      "id": "44eb2cde-750e-4008-ad2d-b293c7625d13",
      "name": "Data Validation"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $json;\n\nconst leadId = `lead-${Date.now()}`;\nconst receivedAt = new Date().toISOString();\nconst priority = data.budget > 450000 ? 'high' : 'normal';\n\nconst summary = `${data.firstName} ${data.lastName || ''}`.trim()\n  + ` est un lead ${data.projectType} à ${data.city}`\n  + (data.budget ? ` avec un budget de ${data.budget}` : '');\n\nreturn {\n  json: {\n    ...data,\n    leadId,\n    receivedAt,\n    priority,\n    summary,\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -288
      ],
      "id": "fef18a9f-a407-4b96-8405-a16b6e11e52f",
      "name": "Data Enrichement"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "91c70653-9565-4f8c-bab9-1ea728938b3f",
              "leftValue": "={{$json.priority}}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        304,
        -288
      ],
      "id": "e3486ac5-f41a-42d8-b57c-1bf883aa9c59",
      "name": "if priority = high/normal"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "72ecd309-a939-4253-96ae-81fc6b52ee13",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": "=true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -128,
        -96
      ],
      "id": "8c6a670a-5072-4f26-9d37-667b4057788e",
      "name": "if isValid = true/false"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c43c81e0-390a-4426-94af-98392eff3497",
              "name": "status",
              "value": "Lead prioritaire détecté",
              "type": "string"
            },
            {
              "id": "e1ba41b6-1958-4e1e-9fc9-adac354c7f54",
              "name": "emailBody",
              "value": "={{\n`<p><strong>Hello there!</strong></p>\n\n<p>Le flux n8n a bien été exécuté.</p>\n\n<p><strong>Résumé du lead reçu :</strong></p>\n\n<ul>\n  <li><strong>Nom :</strong> ${$json.firstName} ${$json.lastName || ''}</li>\n  <li><strong>Email :</strong> ${$json.email}</li>\n  <li><strong>Ville :</strong> ${$json.city}</li>\n  <li><strong>Type de projet :</strong> ${$json.projectType}</li>\n  <li><strong>Budget :</strong> ${$json.budget || ''}</li>\n  <li><strong>Priorité :</strong> ${$json.priority}</li>\n  <li><strong>Source :</strong> ${$json.source || ''}</li>\n  <li><strong>Date de réception :</strong> ${$json.receivedAt}</li>\n  <li><strong>ID du lead :</strong> ${$json.leadId}</li>\n</ul>\n\n<p><strong>Statut :</strong> Lead prioritaire détecté</p>\n\n<p>Ce message a été généré automatiquement depuis un workflow n8n exécuté en local.</p>`\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        -384
      ],
      "id": "97e11025-2824-47e9-be97-db1cbae80a03",
      "name": "Priority = high"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "66c1fe84-eb2e-48ac-b185-5b815295e7fa",
              "name": "status",
              "value": "Lead standard détecté",
              "type": "string"
            },
            {
              "id": "a7b59ead-471c-4979-9ac0-f81862402cf4",
              "name": "emailBody",
              "value": "={{\n`<p><strong>Hello there!</strong></p>\n\n<p>Le flux n8n a bien été exécuté.</p>\n\n<p><strong>Résumé du lead reçu :</strong></p>\n\n<ul>\n  <li><strong>Nom :</strong> ${$json.firstName} ${$json.lastName || ''}</li>\n  <li><strong>Email :</strong> ${$json.email}</li>\n  <li><strong>Ville :</strong> ${$json.city}</li>\n  <li><strong>Type de projet :</strong> ${$json.projectType}</li>\n  <li><strong>Budget :</strong> ${$json.budget || ''}</li>\n  <li><strong>Priorité :</strong> ${$json.priority}</li>\n  <li><strong>Source :</strong> ${$json.source || ''}</li>\n  <li><strong>Date de réception :</strong> ${$json.receivedAt}</li>\n  <li><strong>ID du lead :</strong> ${$json.leadId}</li>\n</ul>\n\n<p><strong>Statut :</strong> Lead standard détecté</p>\n\n<p>Ce message a été généré automatiquement depuis un workflow n8n exécuté en local.</p>`\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        -192
      ],
      "id": "c854e6bd-d572-40e1-b743-371c15084f84",
      "name": "Priority = normal"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Data Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Validation": {
      "main": [
        [
          {
            "node": "if isValid = true/false",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Enrichement": {
      "main": [
        [
          {
            "node": "if priority = high/normal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if priority = high/normal": {
      "main": [
        [
          {
            "node": "Priority = high",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Priority = normal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if isValid = true/false": {
      "main": [
        [
          {
            "node": "Data Enrichement",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Missing Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Priority = high": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Priority = normal": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2d813f5e-661c-4909-8f0e-7c2bde9aae57",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "44f70a61308bd96f9c291a83dcb15697fdfa90ff94471f1c6280ae3486c1c9bb"
  },
  "id": "IUnAjJITOBikXNZ9",
  "tags": []
}